#cards {
    list-style: none;
    width: 900px;
}

#cards li {
    display: inline-block;
}

.card {
    width: 280px;
    height: 200px;
}

.card div {
    border-style: none;
    padding: 7px;
}

.card .title {
    font-weight: bold;
}

.card .lowerRight, .card .lowerLeft {
    padding-bottom: 0;
}